@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>紫珺办公系统</h1>
    <p class="lead">办公系统提供系统办公自动化的管理，包含员工管理、部门管理、产品管理等。</p>
    
</div>

<div class="row">
    <div class="col-md-4">
        <h2>员工管理</h2>
        <p>
            提供新增员工,编辑员工基本信息以及指定员工部门的功能。
        </p>
        <p><a class="btn btn-default" href="~/Employee/Index">管理 &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>部门管理</h2>
        <p>提供部门树形管理,新增部门,编辑部门基本信息的功能。</p>
        <p><a class="btn btn-default" href="~/Department/Index">管理 &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>产品管理</h2>
        <p>提供产品部件管理,包含有制造、组装、测试、维修、装箱和发货的管理。</p>
        <p><a class="btn btn-default" href="~/Product/ProductList">管理 &raquo;</a></p>
    </div>
</div>
<script type="text/javascript">
    clickMenu("menuIndex");
</script>